// features
.features__title {
	display: none;
}
.features__list {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(600px, 1fr));
	grid-auto-rows: minmax(300px, auto);
}
.features__card {	
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 30px 0px;
	padding: 190px 30px;
}
.features__card-title {
	max-width: 415px;
	font-size: 40px;
	line-height: 44px;	
	color: white;
}
.features__card-desc {
	max-width: 405px;
	font-size: 16px;
	line-height: 22px;
	color: white;
}
.features__card-link {
	@include button;
}
.features__card_bg_blue {
	background: rgba(74, 0, 255, 1);
}
.features__card_bg_green {
	background: rgba(0, 255, 157, 1);	
}
.features__card_bg_orange {
	background: rgba(255, 139, 0, 1);
}
.features__decor-title {
	padding: 0px 30px;
	font-size: 109px;
	line-height: 140px;
	color: white;
}

@media screen and (max-width: 1200px) {

	.features__card {
		padding: 150px 30px;
		text-align: center;
	}	
	.features__decor-title {
		padding: 0px 30px;
		font-size: 89px;
		line-height: 110px;
		color: white;
	}
	.features__card:nth-child(3) {
		grid-row: 4/5;
	}
}

@media screen and (max-width: 900px) {
	.features__card {
		padding: 130px 30px;
	}
}

@media screen and (max-width: 768px) {
	.features__card {
		padding: 110px 30px;
	}
	.features__decor-title {
		font-size: 80px;
	}
}

@media screen and (max-width: 600px) {
	.features__list {
		grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
	}
	.features__card {
		padding: 90px 30px;
	}
}

@media screen and (max-width: 480px) {
	.features__card {
		padding: 60px 30px;
	}
	.features__decor-title {
		font-size: 50px;
	}
}