// header
.header__container {
	padding-top: 15px;
	padding-bottom: 15px;
}
.header__content {
	display: flex;
	align-items: center;
}
.header__logo {
	margin-right: 30px;	
}
.menu-toggle {
	display: none;
}	

.menu-label {
	display: none;

}
.menu {
	flex: 1 1 auto;
	display: flex;
	justify-content: space-between;
	margin-right: 30px;
}
.menu__list {
	display: flex;
	align-items: center;
	gap: 0 25px;
	
	.menu__link {
		font-size: 13px;
		line-height: 13px;
		text-transform: uppercase;
		color: white;
		transition: 0.3s;

		&:hover {
			text-decoration: underline;
			color: red;
		}	
		&:active {
			color: white;
		}

	}
	@media screen and (max-width: 860px) {

		.menu__link {
			font-size: 16px;
		}

	}
	@media screen and (max-width: 480px) {

		.menu__link {
			font-size: 19px;
		}
	
	}

}
.socials__list {
	display: flex;
	gap: 0 10px;
}

@media screen and (max-width: 860px) {

	.header__logo {
		margin-right: auto;
	}
	.menu-toggle {
		position: absolute;
		top: 0;
		right: 0;
		display: block;
		opacity: 0;
	}
	.menu-label {
		position: relative;
		order: 3;
		display: flex;
		justify-content: center;
		align-items: center;
		width: 30px;
		height: 30px;

		span {
			position: relative;
			display: block;
			width: 100%;
			height: 3px;
			background: white;
		}
		span::before, span::after {
			position: absolute;
			content: '';
			width: 100%;
			height: 3px;
			background: white;
		}
		span::before {
			bottom: 8px;
		}
		span::after {
			top: 8px;
		}
	}	
	.menu {
		position: absolute;
		top: 0;
		right: 0;
		display: none;
		flex-direction: column;
		row-gap: 20px;
		margin: 0;
		padding: 70px 15px 30px 30px;
		background: gray;

		@media screen and (max-width: 480px) {
			padding-top: 80px;
			width: 100%;
		}

		.menu__list {
			flex-direction: column;
			align-items: flex-end;
			row-gap: 20px;
		}		

	}
	.menu__link {
		font-size: 16px;
	}
	.socials {
		margin-right: 30px;

		@media screen and (max-width: 480px) {
			position: absolute;
			top: 0;
			left: 0;
			z-index: 10;
			display: none;

			.socials__list {
				flex-direction: column;
				row-gap: 20px;
				padding: 80px 0px 0px 20px;
			}

		}
		
	}
	.menu-toggle:checked ~ .menu{
		display: flex;
	}
	.menu-toggle:checked ~ .socials {
		display: block;
	}
}

