// hero
.hero{
	background: no-repeat center/cover;
	background-image:  url(../img/hero/hero-bg.jpg);
}
.hero__container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding-top: 155px;	
	padding-bottom: 140px;

	@media screen and (max-width: 1200px) {
		padding-top: 140px;
		padding-bottom: 130px;
	}

	@media screen and (max-width: 960px) {
		padding-top: 115px;
		padding-bottom: 110px;
	}

	@media screen and (max-width: 660px) {
		padding-top: 85px;
		padding-bottom: 75px;
	}

	@media screen and (max-width: 480px) {
		padding-top: 50px;
		padding-bottom: 40px;
	}
}
.hero__title {
	margin-bottom: 80px;
	font-size: 115px;
	line-height: 120px;
	text-align: center;
	color: white;
  
	@media screen and (max-width: 1200px) {
		font-size: 100px;
		line-height: 100px;
	}

	@media screen and (max-width: 960px) {
		margin-bottom: 70px;
		font-size: 90px;
		line-height: 90px;
	}

	@media screen and (max-width: 768px) {
		margin-bottom: 50px;
		font-size: 70px;
		line-height: 70px;
	}

	@media screen and (max-width: 580px) {
		margin-bottom: 40px;
		font-size: 40px;
		line-height: 50px;
	}
}
.hero__link {
	font-size: 20px;
	color: red;
	text-decoration: underline;
	transition: 0.3s;
	
	&:hover {
		color: yellow;
	}
	&:active {
		color: gold;
	}
}


