// general styles
.wrapper {
	display: grid;
	grid-template-rows: auto 1fr auto;
	min-height: 100%;
	font-family: 'Raleway', sans-serif;
	overflow: hidden;
	background: black;
}
.container {
	max-width: 1200px;
	margin: 0 auto;
	padding: 0px 15px;
	box-sizing: content-box;
}